.logo-part {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}

.studio,
.portfolio,
.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.studio:hover,
.portfolio:hover,
.contacts:hover,
.mail:hover,
.tel:hover {
  color: #2196f3;
}


.contact-list {
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
}

.tel, .mail {
    color: #757575;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-left: 215px;
    margin-right: 215px;
}

.header-wrapper {
    display: flex;
    gap: 90px;
}

.header-contacts {
    display: flex;
    gap: 50px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}



